<launch>

        # front camera
        <node name="cam_front" pkg="usb_cam" type="usb_cam_node" output="screen" >
                <param name="video_device" value="/dev/video0" />
                <param name="image_width" value="320" />
                <param name="image_height" value="240" />
                <param name="pixel_format" value="mjpeg" />
                <param name="camera_frame_id" value="usb_cam" />
                <param name="io_method" value="mmap"/>
        </node>

        # back camera
<!--        <node name="cam_back" pkg="usb_cam" type="usb_cam_node" output="screen" >
                <param name="video_device" value="/dev/video1" />
                <param name="image_width" value="320" />
                <param name="image_height" value="240" />
                <param name="pixel_format" value="mjpeg" />
                <param name="camera_frame_id" value="usb_cam" />
                <param name="io_method" value="mmap"/>
        </node>
-->

</launch>
